.question {
    background: var(--color-background-2);
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.04);
    padding: 24px;

    & + .question {
        margin-top: 8px;
    }

    p {
        color: var(--color-text-1);
    }

    &.highlighted {
        background: var(--color-background-3);
        border: 1px solid var(--color-primary);

        footer .user-info span {
            color: var(--color-text-1);
        }
    }

    &.answered {
        background: var(--color-background-4);
    }

    &.answered .answer-button, &.highlighted .highlight-button{
        svg path, svg circle {
            stroke: var(--color-primary);
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
    
        .user-info {
            display: flex;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            span {
                margin-left: 8px;
                color: var(--color-text-3);
                font-size: 14px;
            }
        }

        > div {
            display: flex;
            gap: 16px;
        }

        button {
            border: 0;
            background: transparent;
            cursor: pointer;
            transition: filter 0.2s;

            &.like-button {
                display: flex;
                align-items: flex-end;
                color: var(--color-text-3);
                gap: 8px;

                &.liked {
                    color: var(--color-primary);

                    svg path {
                        stroke: var(--color-primary);
                    }
                }
                &.disabled {
                    cursor: not-allowed;
                }
            }

            &:not(.disabled):hover {
                filter: brightness(0.5);
            }
        }
    }
}